<div class="hero">
  <div class="hero-body">
    <h2 class="title">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :photo, class:"label" %>
        <div class="control">
          <%= f.file_field :photo %>
        </div>
      </div>

      <div class="field">
        <%= f.label :name, class:"label" %>
        <div class="control">
          <%= f.text_field :name, autofocus: true, class: "input", type: "text" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :bio, class: "label" %>
        <div class="control">
          <%= f.text_field :bio, class: "input textarea", type: "text" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control">
          <%= f.email_field :email, class: "input", type: "email" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :location, class: "label" %>
        <div class="control">
          <%= f.text_field :location, class: "input", type: "text" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, class: "label" %> <i>(leave blank if you don't want to change it)</i>
        <div class="control">
          <%= f.password_field :password, autocomplete: "new-password", class: "input", type: "password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "label" %>
        <div class="control">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", type: "password" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :current_password, class: "label" %> <i>(we need your current password to confirm your changes)</i>
        <div class="control">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "input", type: "password" %>
        </div>
      </div>

      <div class="actions">
        <div class="control">
          <%= f.submit "Update", class: "button is-link" %>
        </div>
      </div>
    <% end %>
    <br />
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-link" %></p>
    <br />
    <%= link_to "Back", :back %>
