<nav class="level">
  <div class="level-left">
    <a href="/" class="level">
      <h1 class="title has-text-centered">Pacebook</h1>
      <p class="subtitle has-text-centered pl-4">a runners' connection</p>
    </a>
  </div>
  <div class="level-right">
    <% if user_signed_in? %>
      <%= link_to "New Post", new_post_path, class: "level-item" %>
      <%= link_to "Your Profile", user_path(current_user.id), class: "level-item" %>
      <%= link_to "Sign Out", destroy_user_session_path, method: "delete", class: "button is-link level-item"%>
    <% else %>
        <%= link_to "Sign in with Github", user_github_omniauth_authorize_path, method: :post, class: "button is-link level-item pr-4" %>
      <%= link_to "Sign In", new_user_session_path, method: "get", class: "button is-link level-item" %>
    <% end %>
  </div>
</nav>
<% if user_signed_in? %>
  <% if current_user.pending_requests_receiver.count > 0 %>
    <div class="notification">
      <button class="delete"></button>
      You've got friend requests! Go to your <%= link_to "profile", user_path(current_user.id) %> to check them!
    </div>
  <% end %>
<% end %>

