<%= render "users/nav" %>

<div class="columns">
  <div class="column is-half is-offset-one-quarter box p-6">

    <h1 class="title is-5"><%= link_to @post.user.name, user_path(@post.user_id) %></h1>
    <h2 class="subtitle is-7 is-italic">
      <%= @post.fmt_date %>
      <% if user_signed_in? && current_user.id.eql?(@post.user_id) %>
        <%= link_to 'Edit', edit_post_path(@post), class: "pl-4" %>
        <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "pl-4" %>
      <% end %>
    </h2>
    <div class="content is-medium">
      <% unless @post.review.nil? %>
        <h3 class="title is-6">Review: <%= "#{@post.review} / 10 " %></h3>
        <progress class="progress is-primary" value=<%=@post.review%> max="10"></progress><br>
      <% end %>
      <% unless @post.header.nil? %>
        <h4 class="title"><%= @post.header %></h4>
      <% end %>
      <p><%= @post.body %></p>
      <% if @post.comments.count > 0 %>
        <div class="section">
          <h4 class="subtitle is-6 is-italic">Comments:</h4>
          <ul>
            <% @post.comments.each do |comment| %>
              <li class="box">
                <span>
                  <%= comment.body %> -
                  <%= link_to comment.user.name, user_path(comment.user.id) %>
                  <% if comment.user.eql?(current_user) %>
                    <%= link_to "Edit", edit_post_comment_path(post_id: comment.post.id, id: comment.id), class: "pl-4 is-size-7 is-italic" %>
                    <%= link_to "Delete", post_comment_path(id: comment.id, post_id: comment.post.id), method: "delete", class: "pl-4 is-size-7 is-italic" %>
                  <% end %>
                </span>
              </li>
            <% end %>
          </ul>

        </div>
      <% end %>
    </div>

     </div>
</div>
