<!DOCTYPE html>
<html>
  <head>
    <title>Pacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <div class="has-text-centered">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>

        <%= yield %>

      </div>
    </section>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
          (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                      $notification.parentNode.removeChild($notification);
                    });
              });
        });
  </script>
</html>
